.pepe table{
  border-radius: 10px !important;
  overflow: hidden !important;
  border: none !important;
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.pepe th,
.pepe td {
  padding: 10px !important;
  text-align: center !important;
  border:none !important;  
}

.pepe th {
  background-color: #222222 !important;
  color: white !important;
  font-weight: bold !important;
}

.pepe tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

.pepe tr:nth-child(odd) {
  background-color: transparent !important;
}

.pepe tr:first-child th:first-child {
  border-top-left-radius: 10px !important;
}

.pepe tr:first-child th:last-child {
  border-top-right-radius: 10px !important;
}

.pepe tr:last-child td:first-child {
  border-bottom-left-radius: 10px !important;
}

.pepe tr:last-child td:last-child {
  border-bottom-right-radius: 10px !important;
}